<?xml version="1.0"?>

<configuration>
	<configSections>
		<section name="embeddedFileAssemblies" type="Paraesthesia.Configuration.StringCollectionSectionHandler, Paraesthesia.Web.Hosting.EmbeddedResourcePathProvider"/>
	</configSections>
	<embeddedFileAssemblies>
		<add value="Paraesthesia.Web.Hosting.EmbeddedResourcePathProvider.Demo" />
	</embeddedFileAssemblies>
	<appSettings>
		<!-- add key="Paraesthesia.Web.Hosting.EmbeddedResourcePathProvider.AllowOverrides" value="true" / -->
	</appSettings>
	<system.web>
		<compilation debug="true" />
		<authentication mode="Windows" />
	</system.web>
</configuration>
